*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 16px;
}
body{
    display: grid;

}
header{
    display: flex;
    gap: 3px;
    justify-content: center; 
    align-items: center; 
    font-size: 2rem;
}
.ga{
    color: rgb(87, 192, 241);
}
main{
    gap: 20px;
}
main .Top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0;
}
.quatro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr);
    width: 450px;
    height: 450px;
}
.big img{
    width: 425px;
    height: 425px;
}
.big p{
    font-size: 0.85rem;
    background-color:rgb(0, 0, 0, 0.4);
    color: #F4F9FC;
    position: absolute;
    top: 420px;
}
.quatro img{
    width: 200px;
    height: 200px;
}
.bottom{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.bottom img{
    width: 280px;
    height: 180px;
}